Resources:
  CartsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions: 
        - AttributeName: "id"
          AttributeType: "S"
        - AttributeName: "customerId"
          AttributeType: "S"
      KeySchema:
        - AttributeName: "id"
          KeyType: "HASH"
      BillingMode: PAY_PER_REQUEST
      TableName: 
        Fn::GetOptionSetting:
          OptionName: CartsTableName
          DefaultValue: Carts
      GlobalSecondaryIndexes:
        - IndexName: "idx_global_customerId"
          KeySchema: 
            - AttributeName: "customerId"
              KeyType: "HASH"
          Projection: 
            ProjectionType: "ALL"