option_settings:
  aws:elasticbeanstalk:command:
    BatchSize: '1'
    BatchSizeType: Fixed
    DeploymentPolicy: Rolling
  aws:elb:loadbalancer:
    CrossZone: true
  aws:elasticbeanstalk:application:environment:
    PORT: '8080'
    NPM_USE_PRODUCTION: 'false'
  aws:autoscaling:asg:
    MinSize: '3'
    MaxSize: '9'
  aws:autoscaling:trigger:
    UpperThreshold: '200'
    LowerThreshold: '20'
    MeasureName: RequestCount
    Unit: Count/Second
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: false
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health
  aws:elasticbeanstalk:managedactions:
    ManagedActionsEnabled: true
    PreferredStartTime: Fri:20:00
  aws:elasticbeanstalk:managedactions:platformupdate:
    UpdateLevel: minor
  aws:elasticbeanstalk:environment:
    ServiceRole: arn:aws:iam::785487814634:role/aws-elasticbeanstalk-service-role
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: true
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:ec2:instances:
    SpotFleetOnDemandBase: '2'
    SpotFleetOnDemandAboveBasePercentage: '0'
    InstanceTypes: t3a.small, t3.small, t2.small
    EnableSpot: true