{{if env "IMAGE_TAG" }}
image:
  tag: {{ env "IMAGE_TAG" }}
{{end}}
{{if env "INGRESS" }}
ingress:
  enabled: ${ingress_enabled}
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - localhost
{{end}}